/* OEFENING 4: Zorg ervoor dat tekst zowel rechts als links wordt uitgelijnd. */
* {
    box-sizing: border-box;
    font-family: "Futura", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #3a3a3a;
    margin: 0 auto;
}

/* OEFENING 5: Zorg dat de website een grid-container heeft met 2 kolommen, eentje van 70% en een van 30%. Header en footer bestaan uit 100% van de schermbreedte. */

body {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template:  'header header'
                    'main aside'
                    'footer footer'; 
}

/* Style the header */
header {
    background-color: #fff;
    padding: 10px;
    text-align: left;
    font-size: 35px;
    height: 150px;
    grid-area: header;
}

main, aside {
    padding: 10px;
}

/* OEFENING 6: Centreer alle titels van de website, behalve diegene die in de rechtse kolom (aside) staan. */
h1, h2, h3 {
    font-family: "Arial", "Georgia", sans-serif;
    color: #006ab3;
    text-transform: uppercase;
    text-align: center;
}

aside h2 {
    text-align: left;
}

.margin {
    margin-top: 50px;
}

/* Style the left column */
main {
    grid-area: main;
}

/* Style the right column */
aside {
    grid-area: aside;
}

aside img {
    width: 100%
}

/* Style the footer */
/* OEFENING 7: Centreer de text in de footer. */
footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    grid-area: footer;
}

.flex-galerij {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #3a3a3a;
}

.flex-galerij>div {
    display: inline-block;
    width: calc(30%- 50px);
    margin: 12px;
}

.flex-galerij>div>img {
    margin: auto;
    width: 100%;
}



/* header */
header, header nav, header nav ul, header nav ul li {
    display: flex;
}

header img {
    height: 160px;
    z-index: 20;
}

header nav {
    width: 100%;
    align-content: center;
    margin: auto;
    margin-left: 5%;
    direction: ltr;
}

header nav ul {
    width: 100%;
}

nav ul li {
    margin-left: 5%;
    font-family: "Arial", "Georgia", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    color: #3a3a3a;
}

div#mapContainer {
    height: 50vh;
}