body {
    text-transform: uppercase;
    color: white;
    font-family: Verdana;
    background-color: darkgray
}

p {
    color: black;
    font-size: 11px;
    padding: 15px;
}

h1 {
    background-color: darkcyan;
    padding: 10px;
}

h2 {
    background-color: deeppink;
    padding: 10px;
}

p {
    background-color: white;
}