* {
    border: 1px solid;
}

header, footer {
    width: 100%;
}

nav {
    width: 50%;
}
section {
    height: 62%;
    width: 62%;
}

aside {
    height: 38%;
    width: 38%;
}

article {
    border-style: dotted;
    border-color: red;
}

