h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
    text-decoration: underline;
}

h1, h2 {
    color: red;
    font-weight: bold;
}

p {
    font-size: 1.8rem
}

img {
    border-color: red;
    border-style: dotted;
}