h1 {
    font-family: Verdana;
    font-size: 24px;
    font-style: italic;
    text-transform: uppercase;
}

body {
    font-size: 14px;
}

h1, h2 {
    font-weight: bold;
    color: red;
}

h2 {
    font-size: 18px;
    text-decoration: underline;
    color: darkred;
}

figcaption {
    font-style: italic;
    font-size: 11px;
}

ul>li {
    list-style: square;
}

ol>li {
    list-style: lower-roman;
}

img {
    max-width: 150px;
}