body {
    font-family: Verdana;
}

li {
    list-style-image: url(/images/icon.png);
    padding-left: 5px;
}

table {
    border-collapse: collapse;  
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    min-width: 800px;
}

thead{
    background-color: steelblue;
    border-bottom: solid 3px darkslategray;
}

thead th {
    font-weight: normal;
    color: white;
    padding: 5px;
    text-shadow: 3px 3px 5px black;
}

tbody tr, th, td {
    border-bottom: solid 1px gray;
    border-right: solid 1px gray;
}

tbody th, td {
    padding: 10px;
    text-align: left;
}

tbody {
    background-color: lightsteelblue;
}

fieldset {
    width: 400px;
    margin-top: 20px
}

label {
    width: 200px;
    display: inline-block;
}

button {
    font-size: 11px;
    background-color: seagreen;
    color: white;
    border: 1px solid darkgreen;
    padding: 7px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}