/*Globaal*/
@font-face {
    font-family: Alphabet;
    src: url(/fonts/Alfphabet.otf);
}
h1 {
    font-family: Alphabet;
    font-size: 20px;
    font-weight: 800;
    color: #006ab3;
}
h2 {
    font-family: Alphabet;
    font-size: 16px;
    font-weight: 400;
    color: #006ab3;
}
p {
    font-family: 'Times new roman';
    font-size: 12px;
    font-weight: 400;
    color: #3a3a3a;
}
* {
    box-sizing: border-box;
}

/*Grid Lay-Out*/
body {
    display: grid;
    grid-template-areas:
        'header header header header'
        'main main main right'
        'footer footer footer footer';
}
header {grid-area: header;}
main {grid-area: main;}
right {grid-area: right;}
footer {grid-area: footer;}

/*Header*/
header {
    height: 100px;
    width: 100%;
}
.logo {
    margin: 15px 20px;
    text-align: center;
}
nav {
    text-align: center;
    margin: 15px 25px;
}
nav > ul > li {
    display: inline;
    margin: 25px;
    list-style-type: none;
    text-decoration: none;
}
nav > ul > li > a {
    font-family: Alphabet;
    text-decoration: none;
    text-transform: capitalize;
    color: #006ab3;
}

/*Body --> Gallery*/
div > img {
    height: 200px;
    width: 250px;
}
.wrapper1 {
    display: flex;
    padding: 5px;
}
.wrapper1 > div {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.wrapper2 {
    display: flex;
    padding: 5px;
}
.wrapper2 > div {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

/*Body --> Contact*/
#naam {
    font-family: Alphabet;
    margin-right: 15px;
}

#bericht {
    font-family: Alphabet;
    height: 100px;
    position: relative;
    top: 30px;
    margin-right: 15px;
}
#email {
    font-family: Alphabet;
}
.contact {
    position: relative;
    top: 25px;
}
button {
    position: relative;
    left: 200px;
    border: 2px solid yellow;
    background-color: white;
    color: #168cda;
    font-family: Alphabet;
    padding: 15px auto;
}
button:active, button:hover {
    position: relative;
    left: 200px;
    border: 2px solid yellow;
    background-color: white;
    color: #ed6d10;
    font-family: Alphabet;
    padding: 15px auto;    
}

/*Aside*/
aside {
    position: relative;
    top: 50px;
   margin-right: 100px; 
}
aside #email {
    width: 200px;
}
.nieuwsbrief button {
    width: 100px;
    position: relative;
    left: 100px;
}
aside img {
    position: relative;
    right: 15px;
}
li {
    list-style-image: url(/images/list-item.png);
    margin: 15px auto;
}

/*Footer*/
address {
    height: 80px;
    position: relative;
    top: 100px;
    text-align: center;
}
footer > button > a {
    text-decoration: none;
    color: #168cda;
    position: sticky;
}

footer {
    text-align: center;
}
