h1 {
    color: dodgerblue;
    font-weight: normal;
    text-shadow: 2px 2px 3px #666;
}

h2.eerstetitel {
    font-family: verdana;
    text-transform: uppercase;
    font-weight: normal;
    color: dodgerblue;
    letter-spacing: 0.2em;
}

p.eerstetekst {
    font-family: verdana;
    font-weight: bold;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

h2 {
    font-weight: normal;
    color: dodgerblue;
}

p {
    font-family: verdana
}