/*Globaal*/
@font-face {
    font-family: "steelfish";
    src: url(steelfish rg.otf);
}

h1 {
    font-family: steelfish;
    font-size: 1.6rem;
    font-weight: 800;
    color: rgb(151, 0, 12);
}

h2 {
    font-family: steelfish;
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(196, 0, 9);
}

h3 {
    font-family: arial;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(104, 103, 108);
}

p {
    font-family: arial;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(104, 103, 108);
}

/*Header*/
header {
    width: 100%;
    height: 100px;
}

#logo {
    position: absolute;
    top: 15px;
    left: 20px;
    margin: 15px 20px;
}

nav {
    position: absolute;
    right: 25px;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: 15px 20px
}

nav li a {
    text-decoration: none;
    background-color: white;
    color: rgb(151, 0, 12);
    padding: 5px;
    border: 1px solid;
}

li img {
    position: relative;
    top: 12px
}

/*Body*/
.artikel {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
        'foto tekst tekst aside'
        'foto tekst tekst aside'
        'foto tekst tekst aside';
}

.artikelafbeelding {
    grid-area: foto;
    width: 350px;
    height: 250px;
}

.tekst {
    grid-area: tekst;
    height: 250px;
    width: 45%;
    padding: 15px;
}

.leesmeer {
    position: relative;
    left: 430px;
    text-decoration: none;
    background-color: white;
    color: rgb(151, 0, 12);
    padding: 5px;
    border: 1px solid;
}

/*Aside*/
aside {
    position: absolute;
    top: 150px;
    right: 100px;
    bottom: 100px;
}

label {
    font-family: steelfish;
    font-size: 1.6rem;
    font-weight: 800;
    color: rgb(196, 0, 9);
}

#zoeken {
    width: 200px;
}

button {
    position: relative;
    left: 100px;
    padding: 15px auto;
    width: 100px;
    border: 1px solid rgb(151, 0, 12);
    background-color: white;
    color: rgb(151, 0, 12);
}

aside li {
    list-style-image: url(/images/list-item.png);
    margin-bottom: 15px;
}

footer p {
    text-align: center;
    font-weight: bold;
}
span {
    font-size: 0.8rem;
}