body {
    background-color: darkgray;
    font-family: Verdana;
}

h1 {
    background-color: lightgray;
    color: dimgray;
    padding: 10px;
}

p {
    font-size: 11px;
    color: white
}

p.veertien {
    background-color: rgb(66, 135, 245);
    margin: 0px;;
}

p.dertien {
    background-color: rgb(66, 78, 245);
    margin: 0px;
}

p.twaalf {
    background-color: rgb(93, 66, 245);
    margin: 0px;
}

p.elf {
    background-color: rgb(123, 66, 245);
    margin: 0px;
}

p.tien {
    background-color: rgb(156, 66, 245);
    margin: 0px;
}

p.negen {
    background-color: rgb(182, 66, 245);
    margin: 0px;
}

p.acht {
    background-color: rgb(209, 66, 245);
    margin: 0px;
}

p.zeven {
    background-color: mediumseagreen;
    margin: 0px;
}

p.zes {
    background-color: rgb(255, 71, 240);
    margin: 0px;
}

p.vijf {
    background-color: rgb(255, 71, 209);
    margin: 0px;
}

p.vier {
    background-color: rgb(255, 71, 145);
    margin: 0px;
}

p.drie {
    background-color: rgb(255, 71, 132);
    margin: 0px;
}

p.twee {
    background-color: rgb(255, 71, 108);
    margin: 0px;
}

p.een {
    background-color: rgb(255, 71, 96);
    margin: 0px;
}

p.nul {
    background-color: rgb(255, 71, 71);
    margin: 0px;
}